<div class="flex flex-col h-full">
  <mat-toolbar class="flex flex-row justify-between">
    <div class="left">
      <button class="mr-2" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DIP </span>
    </div>
    <!-- <form class="access-token-form">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Access Token</mat-label>
        <input matInput  placeholder="" value="">
      </mat-form-field>
    </form> -->

    <input #token_input [(ngModel)]="token" (change)="updateToken()" type="text">
  </mat-toolbar>

  <mat-drawer-container class="flex-1" autosize>
    <mat-drawer #drawer mode="side">

      <div class="flex flex-col">
        <button class="w-48 p-2" *ngFor="let city of cityList" (click)="viewCity(city)" mat-button>
          <span>{{ city.name }}</span>
        </button>

      </div>
    </mat-drawer>
    <app-clinic-table [city]="selectedCity">
    </app-clinic-table>
  </mat-drawer-container>
</div>
