<ag-grid-angular
  #clinicGrid
  class="ag-theme-quartz w-full h-full"
  [rowData]="clinicList"
  [columnDefs]="colDefs"
  />

<div *ngIf="isPhotoViewerOpen && selectedCity" class="shadow-md border z-10 photo-viewer flex flex-col absolute top-0 right-0 h-full w-[400px] bg-slate-100 ">
  <div class="p-2 header flex flex-row justify-between items-center w-full h-12 bg-slate-300">
    <span>{{selectedCity.name}}</span>
    <button class="p-2" (click)="closePhotoViewer()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="photo-list p-2 flex-1 flex flex-col overflow-auto">
    <div class="flex flex-col h-full w-full gap-2">
      <img *ngFor="let photo of activeClinicPhotos" (click)="viewPhoto(photo)"
        class="photo-item flex flex-col items-center justify-center w-full bg-cover bg-center"
        [src]="photo" />
    </div>
  </div>
</div>
